# Parte de Data Science
Autores:
Júlio Limoli
Marcos Ferreira
Victor Araki

In [5]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (ConfusionMatrixDisplay, r2_score, accuracy_score, recall_score,
                            roc_auc_score, confusion_matrix, classification_report, precision_score, roc_curve)
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier

sns.set()
pio.templates.default = 'plotly_dark'

## Importando DataFrame

In [6]:
df = pd.read_csv('./bases/application_train_filtered.csv')
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,456162,False,Cash loans,F,False,False,0,112500.0,700830.0,22738.5,...,False,False,False,False,0.0,0.0,0.0,0.0,0.0,1.0
1,134978,False,Cash loans,F,False,False,0,90000.0,375322.5,14422.5,...,False,False,False,False,0.0,0.0,0.0,1.0,0.0,3.0
2,318952,False,Cash loans,M,True,False,0,180000.0,544491.0,16047.0,...,False,False,False,False,0.0,0.0,0.0,1.0,1.0,3.0
3,361264,False,Cash loans,F,False,True,0,270000.0,814041.0,28971.0,...,False,False,False,False,0.0,0.0,0.0,0.0,1.0,4.0
4,260639,False,Cash loans,F,False,True,0,144000.0,675000.0,21906.0,...,False,False,False,False,0.0,0.0,0.0,10.0,0.0,0.0

## Analise Exploratória

In [15]:
df.shape

(246008, 89)

In [7]:
df.describe()

,SK_ID_CURR,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,246008.000000,246008.000000,2.460080e+05,2.460080e+05,245998.000000,2.457820e+05,246008.000000,246008.000000,246008.000000,246008.000000,...,245195.000000,245195.000000,245195.000000,246007.000000,212836.000000,212836.000000,212836.000000,212836.000000,212836.000000,212836.000000
mean,278280.072908,0.415527,1.689122e+05,5.996283e+05,27129.162648,5.389289e+05,0.020882,-16042.794393,63963.755699,-4988.033300,...,0.144045,1.406803,0.100691,-962.705390,0.006291,0.006944,0.034487,0.267403,0.264109,1.900040
std,102790.909988,0.719922,2.603818e+05,4.030672e+05,14504.965232,3.699738e+05,0.013852,4365.973763,141400.318322,3520.987047,...,0.449464,2.402398,0.364917,826.831325,0.083236,0.109538,0.204179,0.916640,0.611269,1.868217
min,100002.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,-23738.000000,...,0.000000,0.000000,0.000000,-4292.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189165.500000,0.000000,1.125000e+05,2.700000e+05,16561.125000,2.385000e+05,0.010006,-19691.000000,-2758.000000,-7481.000000,...,0.000000,0.000000,0.000000,-1570.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278392.500000,0.000000,1.485000e+05,5.147775e+05,24930.000000,4.500000e+05,0.018850,-15763.000000,-1215.000000,-4503.000000,...,0.000000,0.000000,0.000000,-757.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367272.250000,1.000000,2.025000e+05,8.086500e+05,34599.375000,6.795000e+05,0.028663,-12418.000000,-289.000000,-2018.000000,...,0.000000,2.000000,0.000000,-273.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,0.000000,...,34.000000,344.000000,24.000000,0.000000,4.000000,9.000000,8.000000,27.000000,19.000000,23.000000

In [8]:
#Checagem se existe alguma constante
[c for c in df.select_dtypes(include=['number']).columns if df[c].std() == 0]

[]

In [10]:
#Checando colunas que tem muitos valores unicos
[c for c in df.select_dtypes(exclude=['number']).columns if df[c].nunique() > 10]

['OCCUPATION_TYPE', 'ORGANIZATION_TYPE']

#### Analisando os valores unicos do occupation_type e organizartion_type

In [25]:
df['OCCUPATION_TYPE'].unique()

array(['Core staff', 'High skill tech staff', 'Managers', nan, 'Laborers',
       'Drivers', 'Sales staff', 'Cleaning staff', 'Cooking staff',
       'Accountants', 'Low-skill Laborers', 'Security staff',
       'Realty agents', 'Private service staff', 'Medicine staff',
       'Secretaries', 'HR staff', 'Waiters/barmen staff', 'IT staff'],
      dtype=object)

In [23]:
df['ORGANIZATION_TYPE'].unique()

array(['Trade: type 2', 'Business Entity Type 3',
       'Business Entity Type 1', 'XNA', 'Transport: type 4',
       'Self-employed', 'Industry: type 9', 'Industry: type 3',
       'Trade: type 7', 'Police', 'School', 'Mobile', 'Housing',
       'Government', 'Construction', 'Bank', 'Other', 'Industry: type 11',
       'Trade: type 1', 'Medicine', 'Industry: type 7', 'Kindergarten',
       'Business Entity Type 2', 'Security Ministries', 'Electricity',
       'Industry: type 4', 'Trade: type 3', 'Agriculture', 'Military',
       'Trade: type 6', 'Hotel', 'Security', 'Legal Services',
       'Industry: type 1', 'Restaurant', 'Industry: type 12', 'Services',
       'Realtor', 'University', 'Industry: type 5', 'Transport: type 2',
       'Industry: type 2', 'Advertising', 'Transport: type 3',
       'Emergency', 'Culture', 'Postal', 'Telecom', 'Insurance',
       'Transport: type 1', 'Cleaning', 'Industry: type 10',
       'Trade: type 4', 'Industry: type 6', 'Religion',
       'Industry: type 8', 'Industry: type 13', 'Trade: type 5'],
      dtype=object)

### Analisando as colunas categóricas

In [20]:
df.select_dtypes(include='bool')

,TARGET,FLAG_OWN_CAR,FLAG_OWN_REALTY,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,REG_REGION_NOT_LIVE_REGION,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,False,False,False,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,True,True,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,True,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,True,True,True,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246003,False,False,True,True,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246004,False,False,True,True,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246005,True,False,False,True,True,True,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
246006,True,True,False,True,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
246007,False,False,True,True,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

#### Tentando fazer o primeiro modelo sem as 2 categoricas com muitas unique values

In [29]:
#df_sem_1 = df.drop(['ORGANIZATION_TYPE', 'OCCUPATION_TYPE'], axis=1)
df_dummies = pd.get_dummies(df)
df_dummies.head()

,SK_ID_CURR,TARGET,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,...,ORGANIZATION_TYPE_Trade: type 4,ORGANIZATION_TYPE_Trade: type 5,ORGANIZATION_TYPE_Trade: type 6,ORGANIZATION_TYPE_Trade: type 7,ORGANIZATION_TYPE_Transport: type 1,ORGANIZATION_TYPE_Transport: type 2,ORGANIZATION_TYPE_Transport: type 3,ORGANIZATION_TYPE_Transport: type 4,ORGANIZATION_TYPE_University,ORGANIZATION_TYPE_XNA
0,456162,False,False,False,0,112500.0,700830.0,22738.5,585000.0,0.019689,...,0,0,0,0,0,0,0,0,0,0
1,134978,False,False,False,0,90000.0,375322.5,14422.5,324000.0,0.025164,...,0,0,0,0,0,0,0,0,0,0
2,318952,False,True,False,0,180000.0,544491.0,16047.0,454500.0,0.035792,...,0,0,0,0,0,0,0,0,0,0
3,361264,False,False,True,0,270000.0,814041.0,28971.0,679500.0,0.046220,...,0,0,0,0,0,0,0,0,0,1
4,260639,False,False,True,0,144000.0,675000.0,21906.0,675000.0,0.026392,...,0,0,0,0,0,0,0,1,0,0

In [32]:
X = df_dummies.drop(columns = ['SK_ID_CURR', 'TARGET'])
y = df_dummies['TARGET']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [33]:
lr = LogisticRegression().fit(X_train, y_train)

y_pred = lr.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [61]:
test = pd.DataFrame(df_dummies.isnull().sum()/df_dummies.shape[0], columns = ['Null'])
test[test['Null'] != 0]

                                  Null
AMT_ANNUITY                   0.000041
AMT_GOODS_PRICE               0.000919
OWN_CAR_AGE                   0.659974
CNT_FAM_MEMBERS               0.000004
EXT_SOURCE_1                  0.564221
EXT_SOURCE_2                  0.002211
EXT_SOURCE_3                  0.198075
APARTMENTS_MEDI               0.507931
BASEMENTAREA_MEDI             0.585713
YEARS_BEGINEXPLUATATION_MEDI  0.488179
YEARS_BUILD_MEDI              0.665344
COMMONAREA_MEDI               0.699075
ELEVATORS_MEDI                0.533349
ENTRANCES_MEDI                0.503821
FLOORSMAX_MEDI                0.497882
FLOORSMIN_MEDI                0.678836
LANDAREA_MEDI                 0.593830
LIVINGAPARTMENTS_MEDI         0.684035
LIVINGAREA_MEDI               0.502492
NONLIVINGAPARTMENTS_MEDI      0.694750
NONLIVINGAREA_MEDI            0.552258
OBS_30_CNT_SOCIAL_CIRCLE      0.003305
DEF_30_CNT_SOCIAL_CIRCLE      0.003305
OBS_60_CNT_SOCIAL_CIRCLE      0.003305
DEF_60_CNT_SOCIAL_CIRCLE      0.003305
DAYS_LAST_PHONE_CHANGE        0.000004
AMT_REQ_CREDIT_BUREAU_HOUR    0.134841
AMT_REQ_CREDIT_BUREAU_DAY     0.134841
AMT_REQ_CREDIT_BUREAU_WEEK    0.134841
AMT_REQ_CREDIT_BUREAU_MON     0.134841
AMT_REQ_CREDIT_BUREAU_QRT     0.134841
AMT_REQ_CREDIT_BUREAU_YEAR    0.134841